extends _includes/_layout.pug
include _includes/_meta.pug

block var
  -
    var metas = json;
    var items = [
      {
        sku1:'523',
        sku2:'89031',
        name:'GRJチュール',
        price:'¥8,910',
        otherval:'entry.696180646',
        sizes:[
          {
            val:'entry.465706624',
            name:'34',
          },
          {
            val:'entry.441620315',
            name:'38',
          },
        ],
        colors:['ブラック','ブルー'],
        colorsCode:['019','091'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89001',
        name:'GITサテン',
        price:'¥9,900',
        otherval:'entry.1291515514',
        sizes:[
          {
            val:'entry.1711218457',
            name:'38',
          },
        ],
        colors:['ブラック','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89012',
        name:'GTYデニムリボン',
        price:'¥11,990',
        otherval:'entry.763173588',
        sizes:[
          {
            val:'entry.1685141056',
            name:'34',
          },
          {
            val:'entry.756430261',
            name:'38',
          },
        ],
        colors:['チャコールグレー','ブルー'],
        colorsCode:['014','093'],
        categoryid:[6]
      },
      {
        sku1:'523',
        sku2:'89010',
        name:'GSTオフショル',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            val:'',
            name:'38',
          },
        ],
        colors:['ブラック','ブルー'],
        colorsCode:['019','090'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89006',
        name:'GRJケープシャツ',
        price:'¥10,890',
        otherval:'',
        sizes:[
          {
            val:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','ブルー'],
        colorsCode:['003','019','091'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'59001',
        name:'GZPシアーローン',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック'],
        colorsCode:['004','019'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'69003',
        name:'GRJフレアデニム',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラック','ブルー'],
        colorsCode:['019','094'],
        categoryid:[3]
      },
      {
        sku1:'523',
        sku2:'69014',
        name:'GZPカルゼ',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','オリーブ'],
        colorsCode:['019','026'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'79012',
        name:'GTYラップデニム',
        price:'¥11,990',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['チャコール','ブルー'],
        colorsCode:['019','097'],
        categoryid:[6]
      },
      {
        sku1:'523',
        sku2:'49005',
        name:'GRJデニム',
        price:'¥16,940',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ブルー'],
        colorsCode:['019','094'],
        categoryid:[6]
      },
      {
        sku1:'523',
        sku2:'19003',
        name:'GZPクリア天竺',
        price:'¥5,940',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ホワイト','ブラック'],
        colorsCode:['001','019'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'19004',
        name:'GZPクリア天竺',
        price:'¥5,940',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ホワイト','ブラック','グリーン'],
        colorsCode:['001','019','022'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89004',
        name:'GITネックギャザー',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','ブルー'],
        colorsCode:['001','019','091'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89014',
        name:'GSTボウタイ',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','ピンク'],
        colorsCode:['002','019','074'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89007',
        name:'GRJVフォルム',
        price:'¥11,990',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック','ブルー'],
        colorsCode:['004', '019','093'],
        categoryid:[1]
      },
      {
        sku1:'523',
        sku2:'89013',
        name:'GZPカットジャガード',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'89002',
        name:'GITバルーン',
        price:'¥11,990',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ブルーグリーン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'89005',
        name:'GSTプリント',
        price:'¥14,960',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'79005',
        name:'GSTプリント',
        price:'¥14,960',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['アイボリー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'69007',
        name:'GZP箔ツイル',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['シルバー','ゴールド'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'79004',
        name:'GZP箔ツイル',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['シルバー','ゴールド'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49007',
        name:'GZPタフタ',
        price:'¥14,960',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ライトグリーン','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49004',
        name:'GZPナイロンジレ',
        price:'¥10,890',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラック','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'69009',
        name:'GSWフレアスリット',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラック','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49010',
        name:'GSWケープスリーブ',
        price:'¥18,920',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19011',
        name:'GLRボンディング',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },

        ],
        colors:['アイボリー','ブラック','オリーブ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'',
        name:'GITヴィンテージ',
        price:'¥18,920',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラック','ブルー'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'79001',
        name:'GZPレオパード',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラウン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'79002',
        name:'GST光沢マキシ',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['ブラウン','ブルー'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49012',
        name:'GLRボンディング',
        price:'¥14,960',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'99005',
        name:'GSTリバージレ',
        price:'¥39,930',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','キャメル'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49016',
        name:'GZPボレロ',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','グレー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'99001',
        name:'GRJパディング',
        price:'¥20,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック','オーク'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'49013',
        name:'GSTヘリンボーン',
        price:'¥30,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ブラウン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'99006',
        name:'GSTリバー',
        price:'¥41,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'36',
          },
          {
            otherval:'',
            name:'38',
          },
          {
            otherval:'',
            name:'40',
          },
        ],
        colors:['チャコール','ブラック','ブルーグリーン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'99010',
        name:'GZPモンスター',
        price:'¥16,940',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'38',
            name:'',
          },
        ],
        colors:['アイボリー','ブラック','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39400',
        name:'GSTカラーネック',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','オレンジ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19401',
        name:'GMKネックフォルム',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ブラウン','ブルー'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39406',
        name:'GSTアンサンブル',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['チャコール','グリーン','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19417',
        name:'GSTレイヤードビスチェ',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['ブラック','ピンクベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19415',
        name:'GSTフェザー',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック','ピンク'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19402',
        name:'GMKシャーリング',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','オレンジ','ブルー'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19403',
        name:'GMKフォルム',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','イエロー','グレー'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19412',
        name:'GSTニットセット',
        price:'¥14,960',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'34',
          },
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','グレー','チャコール'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39402',
        name:'GSTループボーダー',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['アイボリー','ブラック','オレンジ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39405',
        name:'GSTフェザースパンコール',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'??',
          },
        ],
        colors:['シルバー','ブラック','グレージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'69012',
        name:'GSKカシュクール',
        price:'¥10,890',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['グレー','ブラック','キャメル'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19420',
        name:'GZPラメリブ',
        price:'¥5,940',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['シルバー','グレー','ブラック','サックス'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39410',
        name:'GSTラメアンサンブル',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['シルバー','ゴールド','ピンク'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39407',
        name:'GSTアニマルフェザー',
        price:'¥12,980',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['チャコール','イエロー','ブラウン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19415',
        name:'GMKジャガード',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','ブラック','イエロー','ベージュ'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19414',
        name:'GMKワイドリブ',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','チャコール','ブルーグリーン'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'19418',
        name:'GSTパール',
        price:'¥8,910',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','グレー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
      {
        sku1:'523',
        sku2:'39408',
        name:'GSTパール',
        price:'¥9,900',
        otherval:'',
        sizes:[
          {
            otherval:'',
            name:'38',
          },
        ],
        colors:['オフ','グレー','ブラック'],
        colorsCode:['019','091'],
        categoryid:[]
      },
    ];

    var category = [
      {
        id:1,
        name:'TOPS',
      },
      {
        id:2,
        name:'DRESS',
      },
      {
        id:3,
        name:'PANTS',
      },
      {
        id:4,
        name:'SKIRT',
      },
      {
        id:5,
        name:'OUTER',
      },
      {
        id:6,
        name:'SETUP',
      },
    ];

block meta
  +meta(metas.site)

block append font
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet")

block append link
  //- link(rel="stylesheet" href="https://portfolio-technics.com/sample/0-css/style.css")
  link(href=`/pc/css/order.css?${Date.now()}` rel='stylesheet' type='text/css')

block append script
  script(type="text/javascript" src=`/pc/js/order.js?${Date.now()}`)
  
block append plugin
  // slick
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  // lenis
  script(src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js")
  // gsap
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js")

block content
  artilce.l-order
    .l-order__ttl
      hgroup.p-ttl
        .p-ttl__logo
          svg(width="153.932" height="27.35" viewBox="0 0 153.932 27.35" role="img" aria-label="GALLEST")
            path(d="M24.319,18.486A11.7,11.7,0,0,1,12.881,27.35,12.992,12.992,0,0,1,0,14.244,13.057,13.057,0,0,1,13.182,1.135,12.726,12.726,0,0,1,20.759,3.56a17.486,17.486,0,0,1,2.8,2.69L20.835,8.864C18.674,5.986,16.329,4.7,13.258,4.7A9.35,9.35,0,0,0,3.825,14.28a9.413,9.413,0,0,0,9.169,9.469,7.609,7.609,0,0,0,7.537-6.479H14.244v-3.56H24.66v.834A17.4,17.4,0,0,1,24.319,18.486Zm34.69,8.371V1.592h3.825V23.257h7.425v3.6Zm19.015,0V1.592h3.825V23.257h7.425v3.6Zm18.746,0V1.592H110.71v3.6H100.6v6.062h9.81v3.6H100.6v8.411H110.71v3.6H96.771v-.008ZM148.135,5.188V26.853H144.31V5.188h-5.8v-3.6h15.419v3.6h-5.8ZM127.64,11.819,125.1,10.8c-1.82-.718-2.726-1.744-2.726-2.955,0-1.78,1.552-3.143,3.672-3.143a3.634,3.634,0,0,1,2.578.91A5.667,5.667,0,0,1,129.8,7.2l3.107-1.82a7.791,7.791,0,0,0-1.932-2.5,7.221,7.221,0,0,0-4.887-1.744c-4.318,0-7.577,2.879-7.577,6.667,0,2.879,1.668,4.923,5.152,6.4l2.425,1.022c2.574,1.1,3.636,2.309,3.636,4.318a4.071,4.071,0,0,1-4.165,4.206,4.257,4.257,0,0,1-3.636-1.932,6.192,6.192,0,0,1-.67-2.373l-3.809.818c.786,4.466,3.688,7.084,8,7.084a7.885,7.885,0,0,0,8.106-8.106C133.55,15.8,131.77,13.486,127.64,11.819ZM52.422,26.857H48.337l-2.678-5.986H34.638L31.96,26.857H27.875l2.734-5.986L40.151,0l9.538,20.871h0ZM40.151,8.559l-3.893,8.708h7.79Z" fill="#000")
        h1.p-ttl__ttl 注文フォーム
    .l-order__about
      .p-about
        p ご注文内容をご記入ください。後日、弊社より折り返しご連絡差し上げます。<br>ご注文の完了は、ご注文の詳細と在庫を確認させていただいてからとなります。
        p 迅速なご注文手続きをご希望の場合、または現在の在庫状況や価格の確認をご希望の場合は、（+81）000-0000 または no_reply@example.com までお問い合わせください。
        p.is-em 同カラー、同サイズを複数お求めの際は、お手数ですが「補足情報」にその旨ご記載ください。
    .l-order__form
      form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfGuOx6GuVlt6RT2whWl9PCu-Jy3ysCfk-KKUf2geUyy0G5Lg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted = true;").p-form
        .c-input.is-required
          .c-input__label お客様番号
          .c-input__txt
            input(type="text" name="entry.1697608423" required="").c-textform
        .c-input.is-required
          .c-input__label お客様番号(確認用)
          .c-input__txt
            input(type="text" name="").c-textform
        //- .c-input.is-max
        //-   .c-input__label 入力サンプルB 
        //-   .c-input__txt
        //-     input(type="text" name="").c-textform
        //- .c-input.is-max
        //-   .c-input__label 入力サンプルC 
        //-   .c-input__txt
        //-     input(type="text" name="").c-textform
        .p-itemarea.is-max
          .p-itemarea__category
            .p-category
              .c-category.is-active ALL
              each cate , i in category
                .c-category !{cate.name}

          .p-itemarea__detail
        
            .p-item.is-active
              each item , i in items
                .c-item(data-recommend=`${i}` data-num=`${item.sku2}`)
                  .c-item__img
                    img(src="https://store.world.co.jp/img/item/BR688/BR68824S0026/BR68824S0026_l2_c102.jpg", alt="")
                  p.c-item__num !{item.sku1}-!{item.sku2}
                  p.c-item__name !{item.name}
                  p.c-item__price !{item.price}
                  .c-item__check
                    table.c-checkTbl
                      tr
                        td
                        each color, z in item.colors
                          th !{color}

                      each size, j in item.sizes
                        tr
                          td !{size.name}
                          each color, z in item.colors
                            td 
                              input(type="checkbox" data-size=`${size.name}` data-color=`${color}` name=`${size.val}` value=`${color}`).c-checkform.js-checkform
                  .c-item__other
                    .c-input
                      .c-input__label.is-other 補足情報
                      .c-input__txt
                        input(type="text" name=`${item.otherval}` placeholder="同アイテム2個以上等" disabled).c-textform.js-otherform

            each cate , i in category
              .p-item
                each item , i in items
                  .c-item(data-recommend=`${i}`)
                    .c-item__img
                    p.c-item__num !{item.sku1}-!{item.sku2}
                    p.c-item__name !{item.name}
                    .c-item__check
                      table.c-checkTbl
                        tr
                          td
                          each color, z in item.colors
                            th !{color}

                        each size, j in item.sizes
                          tr
                            td !{size.name}
                            each color, z in item.colors
                              td 
                                input(type="checkbox" data-size=`${size.name}` data-color=`${color}` name=`${size.val}` value=`${color}`).c-checkform.js-checkform
                    .c-item__other
                      .c-input
                        .c-input__label.is-other 補足情報
                        .c-input__txt
                          input(type="text" name="entry.1697608423" placeholder="同アイテム2個以上等" disabled).c-textform.js-otherform
        
        .l-cart
          .c-fixedBtn.l-cart__btn.js-cartOpen.is-disable
            .c-fixedBtn__badge.js-cartBadge
            .c-fixedBtn__ico
              svg(viewbox="0 0 44 33" fill="#222")
                g
                  g 
                    path(d="M16,23a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6Z")
                    path(d="M36,23a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6Z")
                    polyline(points="1 1 8 1 11 22 41 22 43 6.01 14 6.01" style="fill:none;stroke:#222;stroke-linejoin:round;stroke-linecap:round;stroke-width:1.8px;")
                    line(x1="10" y1="17" x2="41.57" y2="17" style="fill:none;stroke:#222;stroke-linejoin:round;stroke-linecap:round;stroke-width:1.8px;")
          .l-cart__cnt.js-cartModal
            .p-cart
              .p-cart__close.c-fixedBtn.js-cartClose
              .p-cart__items.js-cartWrap
                .c-cartItem
                  .c-cartItem__img
                    img(src="https://store.world.co.jp/img/item/BR688/BR68824S0026/BR68824S0026_l2_c102.jpg", alt="")
                  p.c-cartItem__num 55555555
                  p.c-cartItem__name asdfasdf
                  .c-cartItem__tbl
                    table
                      tr
                        th カラー
                        th サイズ
                        th 金額
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                  .c-cartItem__other
                    p 補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足
                .c-cartItem
                  .c-cartItem__img
                    img(src="https://store.world.co.jp/img/item/BR688/BR68824S0026/BR68824S0026_l2_c102.jpg", alt="")
                  p.c-cartItem__num 55555555
                  p.c-cartItem__name asdfasdf
                  .c-cartItem__tbl
                    table
                      tr
                        th カラー
                        th サイズ
                        th 金額
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                  .c-cartItem__other
                    p 補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足
                .c-cartItem
                  .c-cartItem__img
                    img(src="https://store.world.co.jp/img/item/BR688/BR68824S0026/BR68824S0026_l2_c102.jpg", alt="")
                  p.c-cartItem__num 55555555
                  p.c-cartItem__name asdfasdf
                  .c-cartItem__tbl
                    table
                      tr
                        th カラー
                        th サイズ
                        th 金額
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                      tr
                        td ベージュ
                        td 38
                        td &yen;9,800
                  .c-cartItem__other
                    p 補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足補足

              button(type="submit").p-cart__submit.jsformSubmit 注文する
            .m-noScroll
          script.
            var submitted = false;
          iframe(name="hidden_iframe" id="hidden_iframe" style="display: none" onload="if(submitted){window.location='thanks.html';}")
        .l-search
          .c-fixedBtn.l-search__btn.js-searchModalOpen
            .c-fixedBtn__ico
              svg(viewbox="0 0 45.085 46.126")
                g(transform="translate(1.5 1.5)")
                  ellipse(cx="17.539" cy="17.539" rx="17.539" ry="17.539" fill="none" stroke="#222" stroke-miterlimit="10" stroke-width="3")
                  line(x2="11.222" y2="11.972" transform="translate(30.242 30.534)" fill="none" stroke="#222" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3")
          .l-search__cnt.js-searchModal
            .p-search
              .c-select.p-search__it
                select.js-orderSelect.c-selectform.is-order
                  option(value="recommend") おすすめ順
                  option(value="num") 品番順
                  option(value="name") 名前順
                  option(value="price_low") 価格低い順
                  option(value="price_high") 価格高い順
              .c-input.p-search__it
                .c-input__txt
                  input(type="text").c-textform.js-freeTxt.is-freeTxt
              .p-search__submit.js-searchModalClose 閉じる


    .l-order__footer
      p Copyrights © WORLD CO.,LTD. All rights reserved.      
